<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TunisiaCamp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/listCampPlace">Camp Places</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/EventList">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ProductList">Products</a>
          </li>

        </ul>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/EventTable">My Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listCampPlace">My Camp Places</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/productTable">My Products</a>
          </li>
        </ul>


        <span class="navbar-text">
          Logout
        </span>
      </div>
    </div>
  </nav>
