<div class="background-container">
  <!--title & description container-->
<div class="details-container">
        <img src="assets/zaghouan.jpg" width="100%" class="img-fluid" alt="Full-width image">
        <div class="big-container">
          <div class="title-container">
            <h1>{{product.name}}</h1>
            <p><i class="bi bi-star"></i>4.8(1.2k Reviews)</p>
          </div>
          <div class="description-container">
            <div class="d-flex justify-content-between mx-3 mt-4 price-container">
              <div class="text-left">
                <p>
                  <span class="price-text">{{product.price}}DT</span>/Per Person
                </p>
              </div>
            <div class="mx-4 mb-2">
              <hr>
              <h3 class="my-3">Destination Overview</h3>
              <p>{{product.description}}</p>
            </div>

          </div>
        </div>
</div>

  <!--images container-->

<div class="images-container container-fluid row px-5">
  <div class=" col-lg-6 col-md-12 d-flex flex-column  justify-content-center p-5 text-center">
    <img [src]="images[2]" >
  </div>
  <div class="col-lg-6 col-md-12 d-flex flex-column  justify-content-center p-5 text-center">
    <img [src]="images[3]" >
  </div>
</div>
  <!--Camping Plan container-->

<h1 class="text-center pb-4">Camping Plan  </h1>

<div class="feature-table">
  <table class="table" >
    <tbody>
      <tr *ngFor="let feautre of features" >
        <td class="p-3" width="20%"><i class="feature-icon" [ngClass]="feautre.icon"></i>{{feautre.type}}</td>
        <td class="p-3" width="30%">{{feautre.description}}</td>
      </tr>
    </tbody>
  </table>
  </div>
