<div class="background-image"></div>

<div class="card">

    <div class="card-header" >
        Feedback</div>

    <div class="card-body">
      <div class="inputbox">
        <input required type="text" (ngModel)="username" name="username" id="username">
        <span>Did you find it easy to navigate the website?</span>

        <i></i>
      </div>
      <div class="inputbox">
        <input required type="text" (ngModel)="username" name="username" id="username">
        <span>Were you able to find the information you were looking for easily?</span>
        <i></i>
      </div>
      <div class="inputbox">
        <input required type="text" (ngModel)="username" name="username" id="username">
        <span>Do you have any suggestions or comments to improve the community engagement on our website?</span>
        <i></i>
      </div>
      <div class="inputbox">
        <input required type="text" (ngModel)="username" name="username" id="username">
        <span>Did you find the equipment suitable for your needs? </span>
        <i></i>
      </div>
      <div class="inputbox">
        <input required type="text" (ngModel)="username" name="username" id="username">
        <span> Are there any specific activities you would like to see added in the future? </span>
        <i></i>
      </div>

      <span> Are there any specific activities you would like to see added in the future? </span> <br><br>

      <div class="radio">

        <input checked="" value="male" name="gender" id="male" type="radio" label="Always">
        <input value="female" name="gender" id="female" type="radio" label="Usually">
        <input value="other" name="gender" id="other" type="radio" label="Sometimes">
        <input value="other" name="gender" id="other" type="radio" label="Never">

    </div>

      <label class="container">
        do u like the view
        <input type="checkbox" checked="checked">
        <div class="checkmark"></div>
      </label>






      <!-- Add more input fields and form elements here -->

      <button class="button">
        Subscribe
      </button>
    </div>
  </div>
