<div class="mx-5">
    <div class="mx-5 mt-4 mb-4">
        <h4>Add New Camp Place </h4>
    </div>

    <div class="card mx-5">
        <div class="card-body">
            <form enctype="multipart/form-data" (ngSubmit)="addCampPlace(eventNgForm)" #eventNgForm="ngForm" #form>
                <div class="container-fluid row mt-2">
                    <div class="col-lg-6 col-md-12 p-5 container-left-side">
                        <div class="form-group mb-3">
                          <label for="categorySelect" class="form-label">Category</label>
                          <select class="form-select" id="categorySelect" [(ngModel)]="campPlace.category" name="category">
                            <option *ngFor="let category of categories" [value]="category">{{ formatCategoryName(category) }}</option>
                          </select>
                        </div>

            
                            <div class="col-lg-6 col-md-12 p-5 container-left-side">
                                <div class="form-group mb-3">
                                  <label for="categorySelect" class="form-label">State</label>
                                  <select class="form-select" id="categorySelect" [(ngModel)]="campPlace.state" name="state">
                                    <option *ngFor="let state of states" [value]="state">{{ formatCategoryName(state) }}</option>
                                  </select>
                                </div>
                            </div>

                        <label class="mb-2">Add Images</label>
                        <div class="custom-dropzone" ngx-dropzone [multiple]="false"  (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <div>
                                  <i class="bi bi-cloud-arrow-up-fill icon"></i>
                                    <h4>Drag an image here or browse for an image to upload.</h4>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview   ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                                [file]="f"  [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 p-5 ">
                        <div class="form-group mb-3">
                            <label for="name">Name</label>
                            <input #nameRef="ngModel" type="text" required class="form-control"
                            [ngClass]="{'is-invalid' :(nameRef.invalid &&(nameRef.touched || nameRef.dirty))}"
                             id="name" name="name" [(ngModel)]="campPlace.name" required minlength="5">
                            <div *ngIf="nameRef.invalid && (nameRef.touched ||nameRef.dirty)" class="invalid-feedback">
                                <div *ngIf="nameRef.errors?.['required']">campPlace Name is required.
                                </div>
                                <div *ngIf="nameRef.errors?.['minlength']"> campPlace Name is too short.
                                </div>
                              </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label ">Tel</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input #telRef="ngModel" type="text" class="form-control"
                                 [ngClass]="{'is-invalid' :(telRef.invalid &&(telRef.touched || telRef.dirty))}" id="campPlace" name="campPlace" [(ngModel)]="campPlace.tel">
                                <div *ngIf="telRef.invalid && (telRef.touched ||telRef.dirty)" class="invalid-feedback">
                                    <div *ngIf="telRef.errors?.['required']">tel is required.
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="address">address</label>
                            <input #addressRef="ngModel" type="text" required class="form-control"
                            [ngClass]="{'is-invalid' :(addressRef.invalid &&(addressRef.touched || addressRef.dirty))}"
                             id="address" name="address" [(ngModel)]="campPlace.address" required minlength="5">
                            <div *ngIf="nameRef.invalid && (nameRef.touched ||nameRef.dirty)" class="invalid-feedback">
                                <div *ngIf="addressRef.errors?.['required']">campPlace address is required.
                                </div>
                                <div *ngIf="addressRef.errors?.['minlength']"> campPlace address is too short.
                                </div>
                              </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="email">email</label>
                                <input #emailRef="ngModel" type="text" required class="form-control"
                                [ngClass]="{'is-invalid' :(emailRef.invalid &&(emailRef.touched || emailRef.dirty))}"
                                 id="address" name="address" [(ngModel)]="campPlace.email" required minlength="5">
                                <div *ngIf="emailRef.invalid && (emailRef.touched ||emailRef.dirty)" class="invalid-feedback">
                                    <div *ngIf="emailRef.errors?.['required']">campPlace email is required.
                                    </div>
                                    <div *ngIf="addressRef.errors?.['minlength']"> campPlace email is too short.
                                    </div>
                                  </div>
                                </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary" [disabled]="!form.checkValidity()" >Add campPlace</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
